@media (max-width:1024px){}
@media (max-width:991px){
    /* custtom classes */
    .tex-center{
        width: 100%;
    }
/* Nav Brand */
.navigation-wrap .navbar-brand img{
    height: 3.8125rem;
}
.navigation-wrap{
    text-align: center;
    background-color: var(--white-color);
}
.navigation-wrap .nav-link{
    line-height: 1.875rem;
}
/* Banner Design */
.top-banner{
    padding: 9.375rem 0 9.375;
}
/* carousel design */
.testimonial-section .carousel-item .carousel-caption p{
    padding: 0;
}
}
@media (max-width:767px){
    /* custtom css */
    h1{
        font-size: 2.8rem;
    }
    h2{
        font-size: 2rem;
        line-height: 2.0625rem;
    }

    /* Banner Design */
.top-banner{
    padding: 10.375rem 0 9.375rem;
}

/* aboutus */

.story-section{
    /* height: 100%; */
    padding-top:3rem 0;
    text-align: center;
}

.story-section h2{
    color: var(--primary-color);
}
/* carousel design */

 /* .carousel-item{
    padding: 13rem 5.125rem;
} */

/* newsletter */
.newsletter{
    width: 75%;
}
.newsletter .main-btn{
    width: 100%;
    margin-top: 1rem;
}
.footer .footer-link,
.footer a i{
    padding: 0 0.7rem;
}

}
@media (max-width:330px){
/* carousel design */

    /* .testimonial-section .carousel-item{
        padding: 18rem 3.125rem;
    } */

    /* .testimonial-section .carousel-item{
        height: 300px;
        margin-top: 1rem;
        padding: 13rem 0.125rem;
        background-color: var(--white-color);
        border-radius: 0.9375rem;
        text-align: center;
    } */
}