
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.index_page{
    overflow: hidden;
}

.index_page .rock.container-fluid,.fixed_header .container-fluid,.swipper .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 100%;
    /* overflow: hidden; */
}

.swiper-container-cube {
    /* overflow: hidden !important;  */
}

.fixed_header .hide_navbar{
    position: absolute;
    height: 100px;
    width: 100%;
    z-index: 20;
}

.nav_menu ul{
    position: absolute;
    right: 40px;
    top: 0;
    margin-top: 30px;
}

.navbar-brand.logo1 img {
    height: 60px;
    margin-left: 60px;
    margin-top: 10px;
}

.nav_menu ul li a{
    text-decoration: none;
    padding: 10px 22px !important;
    border-radius: 3px;
    color: #000;
    font-size:15px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_menu ul li a:hover{
    color: #4189ff;
}

.susha_humburger2 {
    position: absolute;
    top: 35px;
    right: 20px;
    cursor: pointer;
    display: none;
}

.susha_humburger2 .bar1,.susha_humburger2 .bar2,.susha_humburger2 .bar3 {
    width: 30px;
    height: 3px;
    border-radius: 25px;
    background-color: black;
    margin-top: 6px;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.susha_humburger2.active .bar1 {
    transform: rotate(45deg) translate(7px, 6px);
}

.susha_humburger2.active .bar2 {
    opacity: 0;
}

.susha_humburger2.active .bar3 {
    transform: rotate(-41deg) translate(6px, -6px);
}

.slide_Menu{
    height: auto;
    width: 43%;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
    display: none;
    box-shadow: 0px 0px 1px #000;
    padding: 20px 20px;
    transform: translateX(-100%);
    transition: 0.5s all ease-in-out;
}

.container_come_for_Banner{
    transform: translateX(0%);
    transition: 0.5s all ease-in-out;
}

.navbar-brand.logo1.logo2 {
   margin: 15px 70px;
}

.slide_Menu h2 {
    font-weight: bolder;
    font-size: 28px;
}

.slide_Menu p {
    font-size: 19px;
    padding-right: 100px;
}

.slide_Menu h2:before {
    position: absolute;
    margin-top: 35px;
    z-index: 0;
    content: " ";
    background-color: #0abc5f;
    width: 40px;
    height: 4px;
}

.slide_Menu ul li{
    display: flex;
    margin: 15px 0px;
}

.slide_Menu ul li i{
    font-size: 20px;
}

.slide_Menu i.fa.fa-map-marker {
    margin-top: 5px;
}

.slide_Menu span {
    margin-left: 10px;
}

.slide_Menu .folow {
    margin-left: -10px;
}

.slide_Menu .folow a{
    color: #6b7279;
}

.slide_Menu .folow a:hover {
    background-color: #4189ff;
    color: #fff;
}


/* ------------------------------Swipper Carosel--------------------------------------- */
.swipper {
    height: 700px;
}

.swiper-container {
    width: 100%;
    height: 100vh;
} 

.banner_content{
    width: 40%;
    position: absolute;
    top: 45%;
    left:4%;
}

.banner_content h2{
    font-size: 30px;
    font-weight: 900;
}

.banner_content h1 {
    font-weight: 900;
    font-family: sans-serif;
    font-size: 35px;
}

.banner_content p{
    font-size: 25px;
    font-weight: 500;
}

.swiper-slide img{ 
    background-position: center;
    background-size: cover;
    position:absolute;
    width: 550px;
    right: 50px;
    top: 100px;
}

.baner_buton {
    margin-top: 50px;
}

.baner_buton a{
    background-color: #1048c3;
    color: #fff;
    padding: 20px 40px;
    border-radius: 80px;
    text-decoration: none;
}

.baner_buton a:hover{
    color: #1048c3;
    background-color: #fff;
    border: 2px solid #1048c3;
    transition: 0.5s all;
}

.fancy {
    border-radius: 7% 93% 0% 100% / 29% 0% 100% 71%;
    background-color: #eff3f6;
    height: 700px;
    width: 50%;
    position: absolute;
    right: 0;
}

.content_fancy{
    border-radius:0% 100% 100% 0% / 12% 64% 36% 88% ;
    background-color: #eff3f6;
    height: 400px;
    z-index: -1;
    width: 30%;
    margin-left: -90px;
    position: absolute;
    top: 200px;
}

.swiper-container-3d .swiper-cube-shadow{
    display: none;
}

.figure_line{
    height: 110px;
    width: 1px;
    background-color: #3c76ff;
}



/* ----------------------brand feature------------------------------------------------- */

.brand_feature .row:nth-child(1){
    margin-top: 5px;
    margin-bottom: 30px;
}

.brand_feature .row p {
    font-size: 18px;
    color: #6c757d;
    padding: 8px 15px 35px 15px;
}

.brand_feature .row h6{
    font-weight: 900;
    font-size: 23px;
    color: inherit !important;
}

.brand_feature .card:hover h6{
    color: #1048c3 !important;
}

.brand_feature .card{
    border: 0px !important;
    box-shadow: 0px 0px 29px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.brand_feature .card:hover{
    margin-top: -10px;
    transition: all .3s ease-in-out;
}

.brand_feature .blue{
    height: 300px;
    width: 100%;
    background-color: #2ea2db;
    z-index: -1;
}

.brand_feature .row:nth-child(2) {
    margin-bottom: -100px;
    z-index: 20;
}

/* --------------------------------------About us----------------------------------- */

.about_hidden_image{
    background-image: url(https://themes.radiantthemes.com/seolounge/wp-content/uploads/2018/07/About-Our-Agency-Banner-Background-Image.png);
    padding: 7% 0px;
    position: relative;
    top: 100px;
}

.about_content h6 {
    font-size: 17px;
    font-weight: 600;
}

.about_content h2 {
    font-weight: 900;
}

.about_section h1,.service_div h1,.testimonal h1 {
    font-size: 45px;
    font-weight: 700;
    color: #000;
    font-weight: bolder;
}

.about_hidden_image h1{
    font-weight: 900;
    color: #fff;
}

.testimonal h1 {
    margin-left: 35px;
}

.founder_photo img {
    height: 100%;
    width: 100%;
    padding: 0px 30px;
}

.about_content{
    padding: 0px 30px;
    height: 90vh;
}

.about_section .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px;
}

.about_content p {
    font-weight: 500;
    font-size: 20px;
}

.about_content a {
    text-decoration: none;
    color: #fff;
    padding: 17px 35px;
    background-color: #0bbc60;
    border-radius: 5px;
    position: absolute;
    margin-top: 30px;
    font-weight: 900;
}

.about_content a:hover{
    background-color: #fff;
    border: 2px solid #0abc5f ;
    color: #0abc5f;
    transition: 0.5s;
}




/* ------------------------Our Services-------------------------------------------- */

.service_div{
    background-color: #eff3f6;
    padding: 31px 0px 10px 0px;
}

.service_div .row {
    margin-bottom: 35px;
}

.service_div .row img {
    margin: 30px 0px;
}

.service_div .row .card {
    height: 320px;
    background-color: #eff3f6;
    border: none !important;
    cursor: pointer;
}

.service_div .row .card:hover{
    background-color: #fff;
    transition: 0.1s all ease-in-out;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.12);
}

.text-muted {
    color: #000!important;
    font-weight: 900;
    font-size: 20px;
}

.figure_line2 {
    height: 110px;
    width: 1px;
    background-color: #3c76ff;
    margin-top: -65px;
}

.service_div h5.text-center {
    margin: 0px 300px 30px 300px;
}


/* -------------------------------testimonal------------------------------------- */

.testimonal {
    margin-top: -90px;
}

.testimonal h5 {
    font-size: 17px;
    line-height: 28px;
    margin-left: 35px;
}

.testimonal h2 span {
    letter-spacing: -3px;
    font-weight: 900;
    margin-left: 35px;
    color: #4189ff;
    padding-right: 10px;
}

.testimonal h2{
    font-size: 25px;
}

.testimonal .card img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 29px rgba(0,0,0,0.1);
}

.testimonal .card{
    border: none;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.info_img.row {
    margin-left: 5px;
}

.card-subtitle p {
    padding: 40px 20px 10px 20px;
    font-weight: 600;
}

.info_img .col-sm-9 {
    padding: 17px 10px;
}

/* know_more */

.know_more{
    margin-top: 100px;
    margin-bottom: 130px;
}

.know_more img{
    width: 490px;
    height: 480px;
}

h4.span span{
    letter-spacing: -3px;
    font-weight: 900;
    color: #4189ff;
    padding-right: 10px;
}

.web_wrapper1{
    background-image: url(https://themes.radiantthemes.com/seolounge/wp-content/uploads/2018/10/seo-icon1.png?id=2234) ;
    background-repeat: no-repeat;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 20px !important;
    padding-left: 85px !important;

}

.web_wrapper2{
    background-image: url(https://themes.radiantthemes.com/seolounge/wp-content/uploads/2018/10/seo-icon2.png?id=2235);
    background-repeat: no-repeat;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 20px !important;
    padding-left: 85px !important;

}

.web_wrapper3{
    background-image: url(https://themes.radiantthemes.com/seolounge/wp-content/uploads/2018/10/seo-icon3.png?id=2236)  ;
    background-repeat: no-repeat;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 20px !important;
    padding-left: 85px !important;

}

.website_seo {
    margin-top: 30px;
}

.know_more h1 {
    font-weight: bold;
    font-size: 50px;
}

.know_more h6 {
    font-size: 19px;
    line-height: 30px;
    padding-right: 20px;
}

/* -------------------------------------footer------------------------------------------ */

.footer{
    color: #fff;
    margin-top: 50px; 
}

.footer h2{
    margin-bottom: 30px;
}

.top_footer{
    padding: 50px 50px 5px 50px;
}

.footer_menu ,.footer_menu2{
    margin-top: -10px;
}

.footer ul li a{
    color: #fff;
    font-size: medium;
}

.footer ul li a:hover{
    color: #4189ff;
}

.fot_call,.fot_email{
    display: flex;
}

.fot_social ul li{
    display: inline-block;
}

.fot_social ul li a{
    font-size: larger;
    padding: 10px 15px;
    border-radius: 10px;
}

.fot_social ul li a:hover{
    background-color: #fff;
    color: #4189ff;
}

.btm-footer {
    border-top: 1px solid;
    padding: 30px 30px 20px 30px;
}

.btm-footer .col-md-6:nth-child(2) {
    text-align: right;
}

.footer_logo img {
    height: 100px;
    width: 150px;
}

.fot_call p,.fot_email p{
    padding: 2px 5px;

}

.contact_Page .brand_feature2 .row p {
    padding: 0px 0px 0px 0px;
}

.contact_Page .brand_feature2 .row:nth-child(2) {
    margin-bottom: 0px;
}

.contact_Page .brand_feature2 .card {
    height: 280px;
}

.contact_Page .form_wrapper{
    padding: 50px 200px;
    background-color: #e9eaec;
    text-align: center;
    margin: 30px 0px;
}

.contact_Page .google_map iframe{
    height: 600px;
    width: 95%;
}

.cus_Img img{
    height: 60px;
    margin-bottom: 20px;
    margin-left: -30px;
}

.cus_Img2 img{
    height: 150px;
    margin-bottom: 20px;
}

.customer{
    position: relative;
    top: 100px;
    height: 800px;
}

.customer .card{
    border: none;
}





@media only screen and (max-width: 650px) {

    .nav_menu{
        height: 100vh;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 75px;
        transform: translateX(-100%);
        transition: 0.5s all ease-in-out;
    }

    .navbar-brand.logo1 img {
        height: 50px;
        margin-left: 5px;
        margin-top: 8px;
    }

    .container_come{
        transform: translateX(-15%);
        transition: 0.5s all ease-in-out;
    }

    .nav_menu ul {
        margin-top: 65px;
        right: 0px;
        left: 0px;
    }

    .nav_menu ul li a{
        padding: 20px 100px !important;
        border-bottom: 1.5px solid;
    }

    .susha_humburger {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .susha_humburger .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        border-radius: 25px;
        background-color: black;
        margin-top: 6px;
        justify-content: space-between;
        transition: all 1s ease-in-out;
    }

    .susha_humburger.active .bar1 {
        transform: rotate(45deg) translate(7px, 6px);
    }

    .susha_humburger.active .bar2 {
        opacity: 0;
    }
    
    .susha_humburger.active .bar3 {
        transform: rotate(-41deg) translate(6px, -6px);
    }

    .founder_photo img {
        height: 270px;
        border-radius: 5px;
        max-width: 100%;
        margin-bottom: 100px;
    }

    .swipper {
        height: 520px;
        position: relative;
        top: 75px;
    }

    .swiper-slide img {
        right: 0px;
        height: 385px;
        width: 100%;
    }  
    
    .service_div h5.text-center {
        margin: 0px 40px 30px 40px;
    }

    .know_more img {
        width: 100%;
        height: 100%;
    }

    .know_more .col-md-6:nth-child(2){
        margin-top: 50px;
    }

    .know_more h1 {
        font-size: 30px;
    }

    .web_wrapper3 {
        margin-bottom: -80px !important;
    }

    .info_img .col-sm-9 {
        margin-left: -90px;
    }

    .service_div .row .card {
        overflow: auto;
    }

    .info_img.row {
        flex-flow: row;
    }

    .testimonal h2 {
        font-size: 20px;
    }

    .content_fancy{
        top: 0px;
    }

    .about_content a {
        margin-top: 0px;
    }

    .about_content {
        padding: 0px 30px;
        height: 550px;
    }

    .about_content p {
        font-size: 15px;
    }

    .fancy {
        height: 520px;
        width: 82%;
        z-index: -1;
    }

    .figure_line ,.figure_line2{
        height: 60px;
        margin-left: 50%;
    }

    .testimonal h2 span {
        margin-left: 0px;
    }

    .testimonal h5 {
        margin-left: 0px;
    }

    .testimonal h1 {
        margin: 0px;
    }

    .banner_content {
        display: none;
    }

    .brand_feature .row p {
        font-size: 18px;
    }

    .footer h2 {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .slide_Menu,.susha_humburger2 {
        display: none;
    }

    .top_footer {
        padding: 0px 15px;
    }

    .btm-footer {
        font-size: x-small;
        text-align: center;
        padding: 0px 0px 0px 0px;
    }

    .btm-footer .col-md-6:nth-child(2) {
        text-align: center;
        margin-top: -10px;
    }

    .contact_Page .form_wrapper {
        padding: 30px 0px;
    }

    .contact_Page .google_map iframe {
        height: 300px;
    }

    .contact_Page .brand_feature2 .card {
        height: 325px;
        margin: 15px 8px;
    }


}


@media only screen and (min-width: 600px) and (max-width: 800px) {

    .navbar-brand.logo1 img {
        height: 45px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .nav_menu ul {
        flex-direction: row;
        margin-right: -35px;
    }

    .nav_menu ul li a{
        padding: 10px 5px !important;
    }

    .navbar-brand.logo1.logo2 {
        margin: 15px 35px;
    }

    .service_div {
        margin-top: 60px;
    }

    .service_div h5.text-center {
        margin: 0px 20px 30px 20px;
    }

    .swiper-slide img {
        right: -35px;
        top: 0px;
    }

    .content_fancy {
        margin-left: -169px;
        top: 270px;
    }

    .swipper {
        height: 620px;
    }

    .banner_content h2 {
        font-size: 24px;
    }

    .banner_content h1 {
        font-size: 28px;
    }

    .fancy {
        height: 620px;
    }

    .baner_buton {
        margin-top: 0px;
    }

    .baner_buton a {
        padding: 15px 20px;
    }

    .banner_content {
        top: 13%;
        left: -10%;
    }

    .brand_feature .row h6 {
        font-size: 14px;
    }

    .brand_feature .row p {
        font-size: 13px;
        padding: 0px 5px 25px 5px;
    }

    .about_content p {
        font-weight: 300;
        font-size: 13px;
    }

    .founder_photo img {
        height: 360px;
        width: 100%;
        padding: 0px 0px;
    }

    .service_div .row .card {
        overflow: auto;
    }

    .know_more img {
        width: 100%;
        height: auto;
    }

    .know_more h1 {
        font-size: 30px;
    }

    .know_more h6 {
        font-size: 13px;
        line-height: 22px;
    }

    .about_section .container-fluid {
        height: 60vh;
    }

    .about_content h2 {
        font-size: x-large;
    }

    .about_content a {
        margin-top: 0px;
    }

    .web_wrapper1,.web_wrapper2,.web_wrapper3 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-bottom: 2px !important;
        padding-top: 0px;
    }

    .blogs_page .testimonal {
        margin-top:20px;
    }

    .about_section {
        margin-bottom: -25px !important;
    }

    .testimonal h1 {
        margin: 0px;
        font-size: 30px;
    }

    .service_page .know_more {
        margin-top: 50px;
        margin-bottom: -30px;
    }

    .testimonal h5 {
        font-size: 15px;
        line-height: 25px;
        margin-left: 0px;
    }

    .testimonal h2 span {
        margin-left: 0px;
    }

    .testimonal h2 {
        font-size: 15px;
    }

    .card-subtitle p {
        padding: 0px;
        font-size: 13px;
    }

    .info_img.row {
        margin-left: -25px;
    }

    .text-muted {
        font-size: 16px;
    }    

    .testimonal .card img {
        height: 60px;
        width: 60px;
    }

    .info_img .col-sm-9 {
        padding: 17px 0px 0px 30px;
    }

    .top_footer {
        padding: 25px 10px;
        font-size: 13px;
    }

    .footer h2 {
        margin-bottom: 25px;
        font-size: 19px;
    }

    .top_footer h2:before {
        margin-top: 25px;
        width: 30px;
    }

    .footer ul li a {
        font-size: smaller;
    }

    .top_footer h4{
        font-size: 15px;
    }

     .fot_email {
       margin-left: -25px;
    }

    .fot_call p, .fot_email p {
        padding: 5px 5px;
        margin-bottom: -20px;
    }

    .fot_social {
        font-size: 20px;
        margin-left: -40px;
    }

    .fot_social ul li a {
        padding: 7px 10px;
    }

    .btm-footer {
        padding: 10px 0px 0px 0px;
        font-size: 14px;
    }

    .slide_Menu {
        width: 90%;
    }

    .contact_Page .form_wrapper {
        padding: 30px 30px;
    }

    .contact_Page .google_map iframe {
        height: 400px;
    }

    /* .swiper-container-3d .swiper-cube-shadow, 
.swiper-container-3d .swiper-slide, 
.swiper-container-3d .swiper-slide-shadow-bottom, 
.swiper-container-3d .swiper-slide-shadow-left, 
.swiper-container-3d .swiper-slide-shadow-right, 
.swiper-container-3d .swiper-slide-shadow-top, 
.swiper-container-3d .swiper-wrapper {
    visibility: hidden;
} */
}





@media only screen and (min-width: 810px) and (max-width: 1025px) {

    .swiper-slide img {
        right: -35px;
        top: 0px;
    }

    .content_fancy {
        margin-left: -310px;
        top: 100px;
    }

    .swipper {
        height: 620px;
    }

    .banner_content h2 {
        font-size: 33px;
    }

    .banner_content h1 {
        font-size: 40px;
    }

    .fancy {
        height: 620px;
    }

    .banner_content {
        top: 0%;
        left: -15%;
        width: 60%;
    }

    .about_section {
        margin-bottom: 0px !important;
    }

    .banner_content p {
        font-size: 45px;
        font-weight: 500;
    }

    .brand_feature .row h6 {
        font-size: 14px;
    }

    .about_content {
        height: 25vh;
    }

    .about_content a {
        margin-top: 0px;
    }

    .brand_feature .row p {
        font-size: 13px;
        padding: 0px 5px 25px 5px;
    }

    .founder_photo img {
        max-width: 105%;
        height: 350px;
    }

    .about_content p {
        font-weight: 300;
        font-size: 15px;
    }

    .testimonal h5 {
        font-size: 21px;
    }

    .know_more h1 {
        font-size: 35px;
    }

    .web_wrapper1, .web_wrapper2, .web_wrapper3 {
        padding-left: 80px !important;
    }

    .info_img .col-sm-9 {
        padding: 17px 0px 0px 30px;
    }

    .testimonal .card img {
        height: 70px;
        width: 70px;
    }

    .testimonal h2 {
        font-size: 19px;
    }

    .testimonal h1 {
        margin: 10px 30px;
        font-size: 30px;
    }

    .nav_menu ul li a {
        padding: 10px 10px !important;
    }

    .top_footer {
        padding: 25px 40px;
        font-size: 13px;
    }

    .footer h2 {
        margin-bottom: 25px;
        font-size: 19px;
    }

    .top_footer h2:before {
        margin-top: 25px;
        width: 30px;
    }

    .footer ul li a {
        font-size: smaller;
    }

    .top_footer h4{
        font-size: 15px;
    }

     .fot_email {
       margin-left: -25px;
    }

    .fot_call p, .fot_email p {
        padding: 5px 5px;
        margin-bottom: -20px;
    }

    .fot_social {
        font-size: 20px;
        margin-left: -40px;
    }

    .fot_social ul li a {
        padding: 7px 10px;
    }

    .btm-footer {
        padding: 10px 0px 0px 0px;
        font-size: 14px;
    }

    .blogs_page .testimonal {
        margin-top: 65px;
    }

    .slide_Menu {
        width: 90%;
        padding-bottom: 35px;
    }

    .service_div h1{
        margin: 0px;
        padding: 0px;
    }

    .service_div .row .card {
        overflow: auto;
    }

    .service_div h5.text-center {
        margin: 0px 40px 30px 40px;
        font-size: 24px;
    }

    .contact_Page .form_wrapper {
        padding: 30px 50px;
    }

    .contact_Page .google_map iframe {
        height: 495px;
    }

}